# Delphi / Lazarus
*.dcu
*.dcp
*.dpu
*.dproj.local
*.identcache
*.local
*.bin
*.dll
*.exe
*.map
*.bpl
*.dcpil
*.dres
*.tvsconfig
*.stat

# OS
Thumbs.db
.DS_Store
__recovery/

# Output directories
/bin/
